body {
    margin: 0%;
}

body>img {
    width: 100%;

}

#header {
    height: 50px;
    width: 100%;
}

#logo {
    width: 100px;
    height: 40px;
    margin-top: 0px;
    float: left;
}

#audio {
    float: right;
}

#audio>a>i {
    margin-top: 7px;
    margin-right: 7px;
    color: #fcb933;
}
#gameName {
    color: #fcb933;
    font-family: sans-serif;
    font-size: 2em;
    margin-top: 40px;
    margin-left: 480px;
    text-align: center;
    width: 200px;
}
#email{
    text-align: center;
    margin-left: 45%;
    margin-top: 30px;
    background:rgb(4, 93, 93);
    color: #fff;
    width: 250px;
    height: 50px;
    border-radius: 23px;
        border: 0cm;
        display: block
}

#name{
    text-align: center;
        margin-left: 45%;
        margin-top: 10px;
        background: rgb(4, 93, 93);
        color: #fff;
        width: 250px;
        height: 50px;
        border-radius: 23px;
        margin-top: 10px;
            border: 0cm;
            display: block
}

#choice{
    text-align: center;
    margin-left: 45%;
    margin-top: 10px;
    width: 180px;
    background:rgb(4, 93, 93);
    color: #fff;
    transform: translate(40px);
    width: 180px;
    height: 45px;
    border-radius: 23px;
    border: 0cm;
}
#submit{
text-align: center;
    margin-left: 45%;
    margin-top: 10px;
    width: 180px;
    background: #fcb933;
    color: #fff;
    transform: translate(70px);
    width: 120px;
    height: 45px;
    border-radius: 23px;
    border: 0cm;

}
 #circle1 {
     width: 100px;
     height: 100px;
     background-color: #439185;
     border-radius: 80px;
     opacity: 0.3;
     float: right;
 }
 #circle2 {
     width: 50px;
     height: 50px;
     background-color: #439185;
     border-radius: 80px;
     opacity: 0.3;
     float: right;

 }
 #circle3 {
     width: 20px;
     height: 20px;
     border: 10px solid #439185;
     background-color: white;
     border-radius: 80px;
     opacity: 0.3;
     float: right;

 }
 #circle4 {
     width: 10px;
     height: 10px;
     border: 8px solid #439185;
     background-color: white;
     border-radius: 80px;
     opacity: 0.3;


 }
 #circle5 {
     width: 30px;
     height: 30px;

     background-color: #439185;
     border-radius: 80px;
     opacity: 0.3;


 }
 #circle6 {
     width: 50px;
     height: 50px;

     background-color: #439185;
     border-radius: 80px;
     opacity: 0.3;


 }
 #circle7 {
     width: 90px;
     height: 90px;

     background-color: #439185;
     border-radius: 80px;
     opacity: 0.3;


 }